html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0
}

article, aside, footer, header, nav, section {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

figcaption, figure, main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

ul {
    list-style: none
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    text-decoration: none;
}

img {
    border-style: none
}


template {
    display: none
}

.nav.is-fixed {
    position: fixed;
    left: 0;
    right: 0
}

    .nav.is-fixed .is-active {
        color: #DBE8E6;
    }

.section {
    padding-top: 100px
}

.is-fullheight {
    min-height: 100vh
}

.nav {
    text-align: center;
}

    .nav li {
        display: inline;
    }

    .nav a {
        display: inline-block;
    }

.nav-item a, a.nav-item {
    color: #C3C3C3;
}

    .nav-item a:hover, a.nav-item:hover {
        color: #DBE8E6;
    }

@media screen and (max-width:768px) {
    .nav-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
}

.nav {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.25rem;
    position: relative;
    text-align: center;
    z-index: 10
}

    .nav > .container {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 3.25rem;
        width: 100%
    }

.nav-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.5;
    padding: .5rem .75rem
}

    .nav-item a {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0
    }

.nav-center {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto
}

right-float {
    float: right;
    margin-right: auto;
}

left-float {
    float: left;
    margin-left: auto;
}

ul {
    list-style: none
}

.profile {
    /*background-color: #9CA0A1;*/
    /*background-color: #827E88;*/
    background-color: #C3C3C3;
}

.experience {
    /*background-color: #BBA399;*/
    background: url(../../public/web-background.png);
    background-attachment: fixed;
}

.skills {
    background-color: #C3C3C3;
}

.other-skills {
    background: url(../../public/web-background.png);
    background-attachment: fixed;
}

h1, h2 {
    /*color: rgba(0,0,0,.8);*/
    color: #A09FA8;
}

.landing {
    background: url(../../public/web-background.png)
    /*background: url(../../public/bg-v2.png);*/
}

#Home {
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    color: #ffffff;
}

section {
    min-height: 100vh;
    width: 100vw;
}

.transp {
    background: none;
    background-image: linear-gradient(rgba(84,110,140,0.6), rgba(84,110,140,0));
}

.my-navig {
    background: #193149;
}

.card-col {
    width: 48% !important;
    margin: 5px 5px;
}

@media only screen and (max-width: 600px) {
    .card-col {
        width: 100% !important;
        margin-bottom: 2px;
    }
}